@charset "UTF-8";

body {
	position: relative;
}

#main {
	margin: auto;
	width: 80%;
}

#header, #footer {
	background-color: silver;
	text-align: center;
}

.th-width {
	border: solid;
	text-align: center;
}

.flex_space_between {
	display: flex;
	justify-content:space-between;
}

.flex {
	display: flex;
}

.margin_1em {
	margin: 1em;
}

.text-align-center {
	 text-align: center;
}

.table-clickable td {
	padding: 0px;
}

.table-clickable button,
.table-detail input,
.table-detail select{
	border: none;
	color: inherit;
	background-color: transparent;
	width: 100%;
	height: 2em;
	text-align: center;
}

.parts {
	margin-right: 1em;
}

.bg_yellow {
	background-color: yellow;
}

.bg_green {
	background-color: green;
}

.bg_red {
	background-color: red;
}

.alert {
	margin: 0
}

