@charset "UTF-8";

body {
	position: relative;
}

#main {
	margin: auto;
	width: 80%;
}

#header, #footer {
	background-color: silver;
	text-align: center;
}

nav button {
	margin: 0.2em;
}

.padding_s {
	padding: 0.3em;
}


.th-width {
	border: solid;
	text-align: center;
}

.flex_space_between {
	display: flex;
	justify-content:space-between;
}

.flex {
	display: flex;
}

.margin_1em {
	margin: 1em;
}

.text-align-center {
	 text-align: center;
}

.table-clickable td {
	padding: 0px;
}

.table-form select,
.table-form input{
	width: 100%;
	height: 2em;
	text-align: center;
	margin: 0;
}

.table-clickable button,
.table-detail input,
.table-detail select{
	border: none;
	color: inherit;
	background-color: transparent;
	width: 100%;
	height: 2em;
	text-align: center;
}

.table-detail td {
	text-align: center;
}

.parts {
	margin-right: 1em;
}

.form_record input,
.width_full
 {
	width: 100%;
}

.center {
	display:table;
	margin: auto;
	width: auto;
}

.detail {
	margin: auto;
	width: auto;
	text-align: left;
}

.detail td {
	padding: 0.3em;
}

.user,
.date
 {
	display: inline-flex;
	border: solid blue thin;
	border-radius: 0.2em;
	font-size: 1.5em;
	padding: 0.2em;
	margin: 0.2em;
}

.date {
	font-size: 1.3em;
}


.button-detail,
.button-date,
.margin-tb05em
 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.bg_yellow {
	background-color: yellow;
}

.bg_green {
	background-color: green;
}

.bg_red {
	background-color: red;
}

.color_red {
	color: red;
}

.font-size-large{
	font-size: x-large;
}

.alert {
	margin: 0
}

