<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<!-- library フラグメントの定義（JavaScript／CSS） -->
	<th:block th:fragment="library">
		<link rel="stylesheet" th:href="@{/css/user.css}">
	</th:block>

	<!--	main フラグメントの定義（メインコンテンツ）	-->
	<div th:fragment="main">
		<div class="header border-bottom">
			<h1 class="h2">詳細情報</h1>
		</div>
		<!--	一覧表示	-->
		<div>
			<div class="center">
				<div class="user">部屋番号 [[${user.room}]] - [[${user.name}]] 様</div>
			</div>
			<th:block th:object="${detail}">
				<table class="detail font-size-large">
					<tr>
						<td>
							● 誕生日
						</td>
						<td>
							：[[*{birthday}]]
						</td>
					</tr>
					<tr>
						<td>
							● 介護度
						</td>
						<td>
							：[[*{level}]]
						</td>
					</tr>
					<tr>
						<td>
							● 入居日
						</td>
						<td>
							：[[*{move_in}]]
						</td>
					</tr>
				</table>
			</th:block>
		</div>
		<br>
		<a th:href="@{/main}">メインページへ</a>
	</div>
</html>
