<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<!-- library フラグメントの定義（JavaScript／CSS） -->
	<th:block th:fragment="library">
		<link rel="stylesheet" th:href="@{/css/list.css}">
	</th:block>

	<!--	main フラグメントの定義（メインコンテンツ）	-->
	<div th:fragment="main">
		<div class="header border-bottom">
			<h1 class="h2">[[${title}]]</h1>
		</div>
		<!--	一覧表示	-->
		<div>
			<div class="flex">
				<a th:href="@{/CareRecord/EventInsert}">
					<button type="button" class="btn btn-primary margin_1em">
						新規行事登録
					</button>
				</a>
				<div th:if="${message}" class="alert arert-success">[[${message}]]</div>
			</div>

			<table class="table table-striped table-bordered table-hover">
				<thead class="thead-light">
					<tr>
						<th class="th-width">ID</th>
						<th class="th-width">日付</th>
						<th class="th-width">時間</th>
						<th class="th-width">行事名</th>
						<th class="th-width">内容</th>
						<th class="th-width"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="event : ${eventList}" th:object="${event}">
						<td>[[*{id}]]</td>
						<td>
							<th:block th:if="*{datetime} != null">
								[[*{#temporals.format(datetime, 'yyyy/MM/dd')}]]
							</th:block>
						</td>
						<td>
							<th:block th:if="*{datetime} != null">
								[[*{#temporals.format(datetime, 'HH:mm')}]]
							</th:block>
						</td>
						<td>[[*{name}]]</td>
						<td>[[*{detail}]]</td>
						<td>
							<div class="flex_space_around">
								<form th:id="'update' + *{id}" method="post" th:action="@{/CareRecord/EventUpdate}">
									<input type="hidden" name="id" th:value="*{id}" />
									<button th:form="'update' + *{id}" type="submit" class="btn btn-primary">
										編集
									</button>
								</form>
								<form th:id="'copy' + *{id}" method="post" th:action="@{/CareRecord/Event/Copy}">
									<input type="hidden" name="id" th:value="*{id}" />
									<button th:form="'copy' + *{id}" type="submit" class="btn btn-primary bg_green">
										複製
									</button>
								</form>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<a th:href="@{/main}">メインページへ</a>
	</div>

</html>
